@import "../../styles/mixin";

.main {
  display: flex;
  width: 100%;
}
.body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.body-container {
  @include displayFlex(normal, normal, 0);
}

.contact-area {
  width: 20rem;
  border-right: 1px solid #32323275;
}
.chat-wraper {
  height: 90vh;

  overflow-y: auto;
}
.search {
  padding: 0.9rem;

  border-bottom: 1px solid #32323275;
}

.chat-list {
  border-radius: 8px;
  margin: 5px;
  overflow-y: auto;
}
