@import "../../styles/mixin";

.main {
  display: flex;
  width: 100%;
}
.body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.body-container {
  @include displayFlex(normal, normal, 0);
  // overflow: hidden;
}

.contact-area {
  width: 20rem;
  border-right: 1px solid #32323275;
}
.chat-wraper {
  height: 90vh;
  // background-color: blue;
  overflow-y: auto;
  // ::-webkit-scrollbar {
  //   display: none;
}
.search {
  padding: 1rem;
  height: 66px;

  border-bottom: 1px solid #32323275;
}

.chat-list {
  border-radius: 8px;
  margin: 5px;
  overflow-y: auto;
}

// ::-webkit-scrollbar {
//   width: 0.2em;
// }
// ::-webkit-scrollbar-thumb {
//   background: #ba2525;
//   // border-radius: 1em;
// }
