@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,800;1,500;1,600&display=swap');

$clr-PrimaryBrand:#BA2525;
$clr-darkBrown:#610404;
$clr-heading:#27241D;
$clr-subheading:#423D33;
$clr-background:#FAF9F7;
$clr-darkYellow:#F0B429;
$clr-lightYellow:#FADB5F;










