@import "/src/styles/mixin";
.iconbox {
  @include displayFlex(center, center, 0.5rem);
  @include text(0.55rem, $fw-larg, $clr-heading);
  padding: 0.4rem;
  flex-direction: column;
  text-align: center;
  cursor: pointer;
  border-radius: 0.3rem;
  p {
    width: 3rem;
    text-decoration: none;
  }
}
.iconbox:hover {
  background-color: $clr-lightYellow;
}
.iconbox:active {
  background-color: $clr-darkYellow;
}
