@import "../../../styles/mixin";

.yellow-button-container {
  flex-wrap: nowrap;
  @include displayFlex(center, normal, 0);
}
.yellow-ripple-button {
  position: relative;
  @include displayFlex(center, center, 0.5rem);
  overflow: hidden;

  color: $clr-darkBrown;
  border: none;
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
}

.yellow-ripple {
  position: absolute;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  transform: scale(0);
  animation: ripple-animation 0.6s linear;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
