.components-table-demo-control-bar .ant-form-item {
  margin-right: 16px !important;
  margin-bottom: 8px !important;
}

.tableNameBox {
  :hover {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(255, 57, 57, 0.043);
  }
}

.statusactive {
  background-color: rgba(86, 255, 80, 0.413);
  padding: 5px;
  border-radius: 5px;
}
.statuspending {
  background-color: rgba(246, 255, 80, 0.413);
  padding: 5px;
  border-radius: 5px;
}
.statusdeactive {
  background-color: rgba(255, 80, 80, 0.413);
  padding: 5px;
  border-radius: 5px;
}
